/* General setup */

* {
  box-sizing: border-box;
}

/* Text */

h1 {
  font-family: "Times New Roman", serif;
  font-size: 45px;
  text-align: center;
  letter-spacing: 2px;
}

h2 {
  font-family: "Times New Roman", serif;
  font-size: 35px;
  margin: 0;
  letter-spacing: 1px;
}

body {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

p {
  text-indent: 2rem;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}

/* Links */

a {
  color: #aa6666;
  text-decoration: underline;
}

a:visited {
  color: #7a4747;
  text-decoration: underline;
}

a:hover {
  color: #ffadad;
  text-decoration: none;
}

a:focus {
  color: #ffadad;
  text-decoration: none;
}

a[href^='http'] {
  background-image: image("images/external-link-52.png");
}

/* Lists */

ul {
  line-height: 1.4;
  margin: 0;
  list-style-type: square;
}

nav ul {
  font-family: "Times New Roman", serif;
  list-style-type: none;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
}